.board {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  transition: all 2s linear; }

.board__left,
.board__right {
  width: 6rem; }

.board__center {
  display: flex;
  flex: 1;
  justify-content: space-between; }

.board__icon-rival,
.board__icon-user {
  flex: 1;
  height: 7rem;
  margin: 0 1rem;
  align-self: center;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }

.board__left.loss {
  color: #C7040A; }

.board__right.win {
  color: #C7040A; }

.board__icon-rival {
  background-image: url("./finger-upp-rival.svg"); }

.board__icon-user {
  background-image: url("./scissors_user_upp.svg"); }

.board__icon-rival.paper {
  background-image: url("./paper_rival.svg"); }

.board__icon-user.paper {
  background-image: url("./paper_user.svg"); }

.board__icon-rival.scissors {
  background-image: url("./scissors_rival.svg"); }

.board__icon-user.scissors {
  background-image: url("./scissors_user.svg"); }

.board__icon-rival.rock {
  background-image: url("./rock_rival.svg"); }

.board__icon-user.rock {
  background-image: url("./rock_user.svg"); }

.board__icon-rival.paper.loss {
  background-image: url("./paper_rival_red.svg"); }

.board__icon-user.paper.win {
  background-image: url("./paper_user_red.svg"); }

.board__icon-rival.scissors.loss {
  background-image: url("./scissors_rival_red.svg"); }

.board__icon-user.scissors.win {
  background-image: url("./scissors_user_red.svg"); }

.board__icon-rival.rock.loss {
  background-image: url("./rock_rival_red.svg"); }

.board__icon-user.rock.win {
  background-image: url("./rock_user_red.svg"); }
