@media screen and (max-width: 600px) {
  html {
    font-size: 2.906976744186047vw; } }

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(114, 114, 114, 0.9); }

.container {
  padding: 1rem;
  max-width: 550px;
  margin: auto; }

.content {
  position: relative;
  padding: 1rem 1rem 1.5rem;
  margin-top: .5rem;
  min-height: 20rem;
  border: 1px solid rgba(43, 42, 41, 0.3); }
