html {
  height: 100%;

  @media screen and (max-width: 600px){
    font-size: 2.906976744186047vw;
  }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(114, 114, 114, .9);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}

.link {
  color: #bfbfbf;
  text-align: center;
  margin-bottom: 20px;
  font-size: .8rem;
  font-family: Arial, sans-serif;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  @media screen and (max-width: 500px) {
    font-size: 1.1rem;
  }
}

.container {
  padding: 1rem;
  max-width: 550px;
  margin: auto;
}

.content {
  position: relative;;
  padding: 1rem 1rem 1.5rem;
  margin-top: .5rem;
  min-height: 20rem;
  border: 1px solid rgba(43,42,41, .3);
}