.result__text {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.result__value {
  font-size: 3rem;
  font-family: 'Prosto One', cursive;
}

.result__repeat {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  font-size: .8rem;
  top: 40%;

  &::after {
    content: 'Повторим?';
  }

  &:hover {


    &::after {
      content: 'Yeppp!!! )))';
    }
  }
}