.title {
  display: flex;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  justify-content: space-between; }

.title__left,
.title__right {
  width: 6rem;
  text-align: center; }
