.level {
  width: 6rem;
  height: 1.5rem;
  border-radius: 1rem;
  margin-bottom: .5rem;
  background-color: #EBECEC; }

.level.green {
  background-color: #009846; }

.level.blue {
  background-color: #008DD2; }

.level.yell {
  background-color: #FECC00; }

.level.orange {
  background-color: #EF7F1A; }

.level.red {
  background-color: #C7040A; }
