.artifacts {
  display: flex;
  justify-content: space-between; }

.artifact {
  flex: 1;
  height: 10.2rem;
  border: 1px solid rgba(43, 42, 41, 0.3);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  outline: none; }
  @media screen and (max-width: 400px) {
    .artifact {
      height: 9.2rem; } }

.artifact + .artifact {
  margin-left: .5rem; }

.artifact_rock {
  background-image: url("rock_user.svg"); }

.artifact_scissors {
  background-image: url("scissors_user.svg"); }

.artifact_paper {
  background-image: url("paper_user.svg"); }

.lets_go .artifact {
  transition: box-shadow .2s; }
  .lets_go .artifact:hover {
    box-shadow: inset 0 0 1.1rem rgba(226, 74, 74, 0.5); }

.lets_go .artifact_rock:hover {
  background-image: url("rock_user_red.svg"); }

.lets_go .artifact_scissors:hover {
  background-image: url("scissors_user_red.svg"); }

.lets_go .artifact_paper:hover {
  background-image: url("paper_user_red.svg"); }

.artifact__tooltip.__react_component_tooltip.type-info {
  letter-spacing: .5px;
  background-color: #168ed0;
  font-size: 1rem; }

.artifact__tooltip.__react_component_tooltip.type-info.place-bottom:after {
  border-bottom-color: #168ed0; }
